input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #7986cb;
  box-shadow: none;
}

.input-field input[type=text]:focus + label {
  color: #7986cb !important;
}

.input-field .prefix.active {
  color: #7986cb;
}

.todo_form {
  margin-top: 20px;
}

.todo {
  margin-bottom: 1rem;
}

.todo .completed span {
  text-decoration: line-through;
}

.todo label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background: #f3f3f3;
}

.todo i {
  z-index: 2;
}